= render partial: 'authors/show/author_content', object: author
hr
section.author_products.row
  = render partial: 'authors/show/product_ticket', collection: author.products.decorate
hr
= render partial: 'comments/comments', object: comments, locals: { comment: comment }