$footer_height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer_height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: $footer_height;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}