// This is a manifest file contains declaration requirements of stylesheets, that used on all pages
// for "application" layout.
//
// This file must be required on any scss file for "application" layout
//
@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/sticky_footer";
@import "shared/custom_bootstrap_components/list_group_item_responsive";
@import "shared/overrides_bootstrap/navbar_forms";
@import "shared/overrides_bootstrap/buttons";
@import "vendor/animate/animate";

.navbar-brand img {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 2px;
  background: forestgreen;
}

section.main_content {
  margin-bottom: 20px;
}

.fix-indents {
  padding-left: 15px;
  padding-right: 15px;
}

article.last_comment_item {
  border-top: solid 1px #ddd;
  margin-top: 10px;
  padding-top: 5px;
}