.pull-right
  = link_to t('.enter_to_site'), new_session_path(anchor: Anchors::CONTENT_SECTION), class: 'btn btn-link navbar-btn', rel: 'nofollow'
  = link_to t('.registration'), new_user_path(anchor: Anchors::CONTENT_SECTION), class: 'btn btn-link navbar-btn', rel: 'nofollow'
