title NyarglSpace
meta name="viewport" content="width=device-width, initial-scale=1"/
meta http-equiv="X-UA-Compatible" content="IE=edge"/
meta charset="utf-8"/
- if no_index?
  meta name="robots" content="noindex"/
= stylesheet_link_tag    current_asset_name, media: 'all'
= javascript_include_tag current_asset_name
/[if lt IE 9]
  = javascript_include_tag 'shared/hacks/html5_and_responsive.js'
= csrf_meta_tags