= present(presenter: :panel, title: 'Активность вашей страницы', id: Anchors::Profile::ACTIVATE_AUTHOR_PAGE) do
  = simple_form_for author, url: profile_author_path, html: { id: 'activate_author_page_form' } do |f|
    = hidden_field_tag :anchor, Anchors::Profile::ACTIVATE_AUTHOR_PAGE
    = f.input :enabled, as: :toggle_button, tooltip_placement: 'right'