css:
  .password {
    color: red;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 3px;
    margin-left: 5px;
    font-family: monospace;
    font-size: 2em;
  }
h1 NyarglSpace приветствует вас!

| Ваш новый пароль от NyarglSpace:
p
  strong.password
    = password
p После входа вы можете поменять свой пароль вручную или оставить этот