= present(presenter: :panel, title: 'Активность вашей страницы') do
  = simple_form_for author, url: current_author_path, html: { id: 'activate_author_page_form' } do |f|
    = f.input :enabled, as: :toggle_button, tooltip_placement: 'right'