= simple_form_for author, url: author_path(author.id) do |f|
  = present(presenter: :panel, title: 'Активность вашей страницы') do |p|
    = f.input :enabled, as: :toggle_button, tooltip_placement: 'right'